@import url("reset.less");
@import url("vars.less");
@import url("funcs.less");
@import url("lesshat/lesshat.less");


html, body{
  font-family:Arial, sans-serif;
  font-size:12px;
  line-height:160%;
  background:#fff;
  color:@text_color;
  max-width:1100px;
  margin:0 auto;
  overflow-x:hidden;
}


a, a:visited{
  color:@link_normal;
}


a:active, a:hover{
  color:@link_active;
}


iframe{
  outline: 0;
}




.nf_button(){
  border:1px solid @gray;
  padding:3px 5px !important;
  background:#fff !important;
  margin:3px;
  font-size:14px;
  text-decoration: none !important;
  color:@text_color !important;
  cursor: pointer;
}


.h1{
  font-size:20px;
  margin:1em 0 0.3em 0;
  color:@header_color;
  font-weight: normal;
  text-decoration: none;

}


.breadcrumbs(){
  color:@gray;
  font-size:11px;
}




select, input, textarea{
  padding:3px;
  margin:0;
}



.start_button(){
  background-color:@start_button_color !important;
  padding:5px !important;
  font-size:15px;
}


.start_button_hover(){
  background-color:@start_button_color_hover !important;
}


.disabled_button{
  background:#ccc !important;
  cursor: default;
}

table{
  empty-cells:show;
  border-collapse:collapse;
}

td{
  vertical-align: middle;
}