@import url("global/global.less");
@import url("apex/ui-reset.less");


#tabs, #header, #footer{
  display:none;
}


.button, .button span {
  background-image: none !important;
}


.button{
  border:1px solid @gray;
}