@import url("global/global.less");
@import url("cognos/banner.less");
@import url("cognos/standart.less");


body{
  background: url("i/header.jpg") no-repeat top center ;
  background-size: contain;

}


.tableText{
  color:@gray_text;

}

a {
  color: @link_normal;
}
body {
  background-color: #ffffff;
}
select {
  
}
input {
  
}
textarea {
  
}


.tableTitle, .tableText{
  padding:3px 2px;
  vertical-align: middle;
}





button, .bp{
  .nf_button();
}


#breadcrumbContainer{
  .breadcrumbs();
}


.hp span{
  .h1() !important;
}


button[name^=finish]{
  .start_button();
}


button[name^=finish]:hover{
  .start_button_hover();
}

.bpd, button[disabled], button[name^=finish][disabled]{
  .disabled_button();
}


.pp{
  .remove_bg_padding();
  width:99% !important;
}

.mainHeader3>tbody>tr>td td{
  padding:3px 1px;
}



table[role="presentation"]{
  margin:0.5em 0 1em;
}